/* Wish 컴포넌트의 CSS */

/* Wish 컴포넌트 전체 설정 */
.Wish {
  width: 1240px;
  margin: 0 auto;
  /* 수평 가운데 정렬 */
  margin-bottom: 160px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* 현재 위치 */
.Wish .path {
  color: #333;
  font-size: 12px;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}

.Wish .path span {
  display: none;
}

.Wish .path li {
  float: left;
  padding-left: 12px;
  margin: 0;
  color: #333;
}

.Wish .path ol {
  float: right;
}

/* 페이지 제목 설정 */
.Wish .pageTlt {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.Wish .pageTlt h2 {
  font-size: 30px;
  letter-spacing: 3px;
  margin: 0;
  padding-top: 70px;
}

.Wish .txt_01 {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 50px;
}

/* 테이블 설정 */
.Wish .container {
  width: 100%;
}

.Wish #wish_backbody {
  background-color: #fff;
  font-size: 13pt;
  padding: 50px 0;
  margin: 0 auto;
  width: 100%;
}

.Wish #wish_frame {
  margin: 0 auto;
  background-color: #fff;
}

.Wish .wishTable {
  width: 100%;
  border-collapse: collapse;
}

.Wish .wishTable th,
.Wish .wishTable td {
  border: solid 1px #e0e0eb;
  text-align: center;
  padding: 15px 0;
}

.Wish .wishTable th {
  background-color: #f8f8fa;
  font-weight: bold;
}

.Wish .wishTable td button {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.Wish .wishTable td button:hover {
  background-color: #d32f2f;
}