
/* ====================================================== */
/* wihslist_main */
.Wish {
  width: 1240px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 160px;
  overflow: hidden;
}

/* ================== main / wishlist페이지 ================== */
.Wish #wish_backbody {
  max-width: 1240px;
  background-color: #fff;
  font-size: 13pt;
  padding: 50px 0;
  width: 100%;
  margin: 0 auto;
}

.Wish #wish_frame {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.Wish .wish_backbody ol {
  list-style: square;
}

.Wish #wish_productInfo {
  border: solid px #e0e0eb;
  border-collapse: collapse;
  width: 100%;
  font-size: 10pt;
}

.Wish #wish_productInfo th,
.Wish #wish_productInfo td {
  border: solid 1px #e0e0eb;
  text-align: center;
  padding: 20px 0;
}

.Wish #wish_frame div:nth-of-type(1) span:nth-of-type(1) {
  font-size: 16pt;
  font-weight: bold;
}

.Wish #wish_frame div:nth-of-type(2) {
  border: solid 1px #e0e0eb;
  padding: 10px 10px;
  font-size: 13pt
}

.Wish #wish_search {
  border: 1px solid #dedede;
  border-top: 1px solid black;
}

.Wish #wish_search select {
  border: silver 1px solid;
  cursor: pointer;
}

.Wish #wish_search div:nth-of-type(1) {
  border-bottom: solid 1px gray;
  padding: 20px;
}

.Wish #wish_search input {
  border: silver 1px solid;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.Wish #wish_search ol {
  padding: 10px 20px;
  font-size: 10pt;
  color: gray;
}

.Wish #wish_search button {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
}

.Wish #wish_frame br+span:nth-last-child(3) {
  font-size: 10pt;
  font-weight: bold;
  display: inline-block;
  padding: 10px 10px;
}

.Wish #wish_productInfo th:nth-of-type(3) {
  width: 550px;
}

.Wish #wish_frame div:last-child {
  text-align: center;
}

.Wish .wish_number {
  width: 100px;
}

.Wish .wish_amount {
  width: 50px;
}

/* ========================================== */
/* ====================================================== */
/* navi_bar */
.Wish .path {
  color: #333;
  font-size: 12px;
  /* margin: 20px auto; */
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}

.Wish .path span {
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
  display: none;
}

.Wish .path li {
  float: left;
  padding-left: 12px;
  margin: 0;
  color: #333;
}

.Wish .path ol {
  float: right;
}



.Wish .pageTlt {
  color: #333;
}

.Wish .pageTlt h2 {
  height: 60px;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 70px;
  padding-bottom: 0px;
}

.Wish .txt_01 {
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.2px;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 120px;
}