/*======================================================*/
/* thumbnail */
.Modify .base-box {
    padding: 20px 20px 20px 0px;
    border: 1px solid #dedede;
    border-top: 1px solid black;
    color: #333;
}

.Modify .thumbnail {
    display: table-cell;
    padding: 0 15px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

.Modify .description {
    display: table-cell;
    padding: 0 10px;
    border-left: 1px solid #e8e8e8;
    vertical-align: middle;
}


.Modify {
    background-color: white;
    min-height: 450px;
    width: 1240px;
    margin: auto;
    text-align: left;
}

/* ================ */
.Modify .path {
    width: 1240px;
    padding: 0;
    display: flex;
    color: #333;
    font-size: 12px;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
    justify-content: end;
}

.Modify .path span {
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
    display: none;
}

.Modify .path li {
    float: left;
    padding-left: 12px;
    color: #333;
}

.Modify .path li a {
    color: #333;
}

.Modify .title {
    padding-top: 100px;
    text-align: center;
    color: #333;
}

.Modify .title h2 {
    font-size: 30px;
    line-height: 1;
    letter-spacing: 3px;
}

.Modify .pageTlt .txt_01 {
    font-size: 16px;
    letter-spacing: -0.2px;
    padding-top: 7px;
    padding-bottom: 15px;
}

/* ============================= */

/*---입력정보 칸 시작---*/

.Modify .personal_modify {
    border-top: solid 2px black;
    border-bottom: solid 1px black;
    width: 100%;
    margin: auto;
}

.Modify .personal_modify caption {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
}

.Modify .personal_modify span {
    color: red;
    font-size: 12px;
    padding: 5px;
}

.Modify .personal_modify th,
.Modify .personal_modify td {
    border-top: solid 1px silver;
    border-left: solid 1px silver;
}

.Modify .personal_modify th:first-child {
    border-left: none;
}

.Modify .personal_modify tr:first-child th,
.Modify .personal_modify tr:first-child td {
    border-top: none;
}

.Modify .personal_modify th {
    font-size: 13px;
    text-align: center;
    padding: 10px;
    width: 20%;
}

.Modify .personal_modify td {
    padding-left: 10px;
}

.Modify .personal_modify label {
    margin-right: 20px;
    margin-left: 5px;
}

.Modify .personal_modify label input {
    height: 25px;
    /* vertical-align: center; */
}

.Modify .personal_modify input,
.Modify .personal_modify select {
    margin: 5px 0px;
    box-sizing: border-box;
    padding: 0px 5px;
    height: 25px;
    border: solid 1px gray;
    border-radius: 5%;
}

.Modify .personal_modify input[type="text"],
.Modify .personal_modify input[type="number"] {
    width: 100px;

}

.Modify .personal_modify input[type="tel"] {
    width: 50px;
}


.Modify .personal_modify input[type="password"],
.Modify .personal_modify input[name="address"] {
    border: solid 1px gray;
    border-radius: 5%;
    width: 200px;
}

.Modify .input_address {
    display: flex;
}

.Modify .input_address input {
    box-sizing: border-box;
    margin: 5px;
    margin-left: 0px;
}

.Modify .inside_btn:hover {
    background-color: silver;
}

.Modify .agree_check {
    line-height: 38px;
}

.Modify input[type="radio"] {
    height: 100%;
    margin: 0;
}


.Modify .join_btn {
    display: flex;
    justify-content: center;
    /* margin-left: 270px; */
}

.Modify .out_btn2,
.Modify .out_btn3 {
    display: inline-block;
    height: 35px;
    width: 150px;
    font-weight: bold;
    border: solid 1.5px black;
    text-align: center;
    line-height: 35px;
    margin: 50px;
    font-size: 14px;
    text-decoration: none;
}

.Modify .out_btn2 {
    margin-left: 400px;
}

.Modify .out_btn3 {
    background-color: black;
    color: white;
}

.Modify .out_btn3:hover,
.Modify .out_btn4:hover {
    background-color: whitesmoke;
    color: black;
}

.Modify .input_warn {
    color: red;
    font-size: 12px;
    margin: 10px 0 0 124px;
}

.Modify .out_btn4 {
    height: 30px;
    width: 70px;
    border: solid 1.5px lightgray;
    border-radius: 5px;
    margin: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 12px;
    margin-left: 200px;
}


