.RecentList {
    position: fixed;
    width: 120px;
    height: 250px;
    right: 1%;
    bottom: 50%;
    top: 18%;
    border: black solid 2px;
    cursor: pointer;
    
}



.RecentList .RecentListItem {
    width: 100px;
    height: 80px;
    border: black solid 2px;
    background-color: white;
    display: flex;
    margin: auto;
}


.RecentList .RecentTitle {
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}