/* 상품등록 페이지 스타일 */
.prod-columns th {
  background-color: #757575; /* 회색 계열의 배경색 */
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
  color: #fff; /* 흰색 텍스트 */
  font-weight: bold; /* 굵은 텍스트 */
}

.insert-title {
  text-align: center;
}

/* 테이블 스타일 */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #424242;
  border: 1px solid #ddd;
	color: #feffff;
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* 짝수 행 배경색 */
}

td img {
  display: block;
  margin: auto;
}

.home-link {
	text-align: center;
	font-size: 20px;
}

.home-link a {
	text-decoration: none; /* 밑줄 제거 */
	color: inherit; /* 기본 텍스트 색상으로 설정 */
	font-weight: bold;
}
