.PaymentConfirmation {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
}

.PaymentConfirmation h2 {
    color: #333;
}

.PaymentConfirmation h3 {
    color: #333;
    margin-top: 20px;
}

.PaymentConfirmation ul {
    list-style: none;
    padding: 0;
}

.PaymentConfirmation li {
    margin-bottom: 10px;
}

.PaymentConfirmation p {
    margin-top: 10px;
}

.payment_button_container {
    display: inline-flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.payment_btn_cart,
.payment_btn_home {
    color: white;
    font-weight: bold;
    display: inline-flex;
    background-color: #a3a1a1;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    font-weight: 600;
    transition: 0.25s;
    margin: 0 5px;
    cursor: pointer;
}