
#addressModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 480px;
    border: 1px black solid;
    background-color: lightgray;
    transform: translate(-50%, -50%);

}

.postmodal {
padding: 0px;

}

.addressModal_container {
    background-color: #ffffff;
    border-radius: 8px;
}

#addressModal .addressModal_btn_close {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    float: right;
    width: 40px;
    height: 40px;

}

#addressModal .addressModal_btn_close:hover {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}