.PaymentConfirmation {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.PaymentConfirmation h2 {
    color: #4CAF50;
}

.PaymentConfirmation h3 {
    color: #333;
    margin-top: 20px;
}

.PaymentConfirmation ul {
    list-style: none;
    padding: 0;
}

.PaymentConfirmation li {
    margin-bottom: 10px;
}

.PaymentConfirmation p {
    margin-top: 10px;
}

/* 테이블 전체 스타일 */
.PaymentConfirmation .table {
    width: 100%;
    border-collapse: collapse;
    margin: 40px auto;
}

/* 테이블 헤더 스타일 */
.PaymentConfirmation .table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #dddddd;
}

/* 테이블 셀 스타일 */
.PaymentConfirmation .table td {
    padding: 10px;
    border: 1px solid #dddddd;
}

.PaymentConfirmation .table td:nth-of-type(2) {
    text-align: left;
    white-space: nowrap;
    /* 텍스트 줄 바꿈 방지 */
    overflow: hidden;
    /* 넘치는 부분 감추기 */
    text-overflow: ellipsis;
    /* 말줄임표(...) 표시 */
}


/* 짝수 행 배경색 스타일 */
.PaymentConfirmation .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* 홀수 행 배경색 스타일 */
.PaymentConfirmation .table tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

/* 버튼 */
.PaymentConfirmation .btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
}

.PaymentConfirmation .btn {
    padding: 12px 24px;
    cursor: pointer;
}

.PaymentConfirmation .btn.btn-pt {
    background-color: black;
    color: white;
}